@page "/"
@page "/index"
@inject IRepositorio repositorio

<AuthorizeView Roles="Admin">
    <Authorized>
        <label>Estas autorizado, @context.User.Identity.Name</label>
    </Authorized>
    <NotAuthorized>
        <label>No estas autorizado</label>
    </NotAuthorized>
</AuthorizeView>

<div>
    <h3>En Cartelera</h3>
    <ListadoPeliculas Peliculas="EnCartelera"/>
</div>

<div>
    <h3>Próximos Estrenos</h3>
    <ListadoPeliculas Peliculas="FuturosEstrenos"/>
</div>

@code
{
    private List<Pelicula> FuturosEstrenos;
    private List<Pelicula> EnCartelera;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<HomePageDTO>("api/peliculas");
        FuturosEstrenos = httpResponse.Response.ProximosEstrenos;
        EnCartelera = httpResponse.Response.PeliculasEnCartelera;
    }
}