@inject IJSRuntime js
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

<div style="display: flex; flex-wrap: wrap; align-items: center">
    <ListadoGenerico Listado="Peliculas">
        <HayRegistros Context="pelicula">
            <PeliculaIndividual Pelicula="pelicula"
                                EliminarPeliculaEvent="EliminarPelicula" @key="pelicula.Id"/>
        </HayRegistros>
    </ListadoGenerico>
</div>



@code {

    [Parameter]
    public List<Pelicula> Peliculas { get; set; }


    ConfirmacionComponent confirmacion;

    private async Task EliminarPelicula(Pelicula peli)
    {
        var confirmado = await js.Confirm($"¿Desea borrar la pelicula {peli.Titulo}?");
        if (confirmado)
        {
            var responseHttp = await repositorio.Delete($"api/peliculas/{peli.Id}");
            if (responseHttp.Error)
            {
                await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
            }
            else
            {
                Peliculas.Remove(peli);
            }
        }
        
    }
}
